:root{
    --font-1: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --primary-color: #36393e;
    --project-color: #2c2e30;
}

*, *::after, *::before{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%
}

body{
    font-family: News Cycle;
    margin: 0;
    color: white;
    background-color: #36393e;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: lighter;
}

::selection{
    color: white;
    background: #18181d;
}

body::-webkit-scrollbar { 
    width: 0;
}

#app{
    width: 100%;
    height: 100%;
}

.load-img{
    width: 150px;
    display: block;
    margin: auto;
    text-align: center;
    transition: .2s;
    margin-top: calc(50vh - 150px);
}

.header{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
}

@keyframes header-animation{

    0%{
        opacity: 0;
    }
    100%{
        opacity: 0.8;
    }

}

.header-content a{
    font-family: News Cycle;
    color: white;
    text-decoration: none;
    opacity: 0.8;
    font-size: 18px;
    margin-right: 10px;
    transition: .2s;
    animation-name: header-animation;
    animation-duration: 1s;
    animation-delay: 0;
}

.header-content a:hover{
    color: #7298da;
}

.header-links{
    float: right;
}

.main-content{
    padding: 40px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}

@keyframes main-title-animation{

    0%{
        position: relative;
        top: 30px;
        opacity: 0;
    }

    100%{
        position: relative;
        top: 0;
        opacity: 0.95;
    }

}

@keyframes main-subtitle-animation{

    0%{
        position: relative;
        top: 30px;
        opacity: 0;
    }

    100%{
        position: relative;
        top: 0;
        opacity: 0.8;
    }

}

.main-content h1:first-child{
    font-size: 90px;
    opacity: 0.95;
    font-weight: bold;
    margin: 0;
}

.heading{
    text-align: center;
    font-weight: bolder;
    animation-name: main-title-animation;
    animation-duration: .5s;
    animation-delay: 0;
    line-height: 1.1;
    margin-bottom: 15px;
    opacity: 0.9;
    font-size: 40px;
}

.contact .heading{
    margin-top: 10px;
}

.main-content h3{
    opacity: 0.8;
    font-size: 15px;
    animation-name: main-subtitle-animation;
    animation-duration: .5s;
    animation-delay: 0;
    display: inline-block;
    width: 60%;
}

.main-btns a{
    margin-top: 15px;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 3px;
    outline: none;
    transition: .2s;
    display: inline-block;
    border: 2px solid #7298da;
}

.main-btns a:first-child{
    color: white;
}

.main-btns a:first-child:hover{
    background-color: #7298da;
}

.main-btns a:last-child{
    margin-left: 10px;
    background-color: #7298da;
    color: white;
}

.main-btns a:last-child:hover{
    background-color: var(--primary-color);
}

.sections{
    margin-top: 20px;
}

.main-content h1{
    line-height: 1.1;
    margin-bottom: 20px!important;
}

.sections .heading{
    display: block;
    width: 100%;
}

@media (max-width: 529px){
    .main-content h1{
        font-size: 50px!important;
    }

    .heading{
        font-size: 50px!important;
    }

    .main-content h3{
        width: 100%;
    }
}

hr{
    opacity: 0.3;
    margin: 0;
    margin-top: 20px;
    display: block;
}

a{
    cursor: pointer;
}

hr:first-child{
    margin-top: 30px;
    margin-bottom: 10px;
}

@media (min-width: 900px){
    .row{
        display: flex;
        flex-wrap: wrap;
    }

    .project-card{
        flex: 0 0 32.333%;
        max-width: 0 0 32.333%;
    }
}

.project-card{
    background-color: var(--project-color);
    border-radius: 4px;
    padding: 15px;
    margin-top: 5px;
    margin-left: 5px;
}

.project-card h2{
    font-size: 30px!important;
    opacity: 0.8!important;
}

.project-card font{
    opacity: 0.5;
    margin-left: 5px;
    transition: .2s;
}

.project-card font:hover{
    opacity: 0.8;
}

.project-card font:first-child{
    margin-left: 0!important;
}

.project-card p{
    margin: 0;
    opacity: 0.8;
    margin-bottom: 10px;
}

.project-card .fa-external-link-alt{
    font-size: 27px;
}

.svg-row svg{
    color: #7298da;
}

.svg-row a{
    float: right;
    margin-right: 5px;
}

.svg-row a:first-child{
    margin-right: 0!important;
}

.svg-row .fa-book{
    margin-top: 1px;
}

.svg-row a:not(:first-child){
    margin-top: 7px;
    margin-right: 10px;
}

@media (min-width: 800px){
    .heading span::after{
        content: "#";
        color: #7298da;
        margin-left: 4px;
    }
    
    .heading span{
        transition: .3s;
        opacity: 0;
        cursor: pointer;
    }
}

.heading span:hover{
    opacity: 1;
}

.proj-last-btn a{
    color: #7298da;
    text-decoration: none;
    text-align: center;
    display: block;
    margin-top: 10px;
}

.contact h3{
    font-size: 40px;
    margin: 0;
    font-weight: bold;
    margin-bottom: 10px;
}

.contact p{
    opacity: 0.8;
    margin: 0;
}

.footer-svg-row{
    margin-top: 10px;
}

.footer-svg-row a{
    margin-left: 5px;
    color: white;
    text-decoration: none;
    transition: .2s;
}

.footer-svg-row a:hover{
    opacity: 0.5;
}

.sections{
    margin-bottom: 60px;
}

.projects .heading{
    margin-top: 30px;
}

.contributors .heading{
    margin-top: 20px;
}

.contributors div{
    padding: 20px;
    text-align: center;
}

.contributors div img{
    border-radius: 100%;
    width: 80px;
    height: 80px;
    background-color: #7298da;
}

.contributors div a{
    margin-top: 5px;
    margin-left: 5px;
}

.main-content input{
    margin-top: 10px;
    padding: 8px;
    border: none;
    border-radius: 3px;
    outline: none;
    width: 60%;
}

.news-card{
    background-color: var(--project-color);
    border-radius: 4px;
    padding: 20px;
    width: calc(100% - 40px);
    margin-bottom: 10px;
}

.news-content{
    display: flex;
}

.news-content div:first-child img{
    border-radius: 100%;
    width: 60px;
}

.news-alt-side{
    margin-left: 10px;
}
